@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@600;700;800&family=Lora:wght@400;500;600&italic@0;1&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-serif: "Lora", serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #f8fafc;
  font-family: var(--font-serif);
}

.dark body {
  background: #0F0E14;
}